<div class="box-header with-border">
  <h3 class="box-title">Delete Event</h3>

  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" (click)="closeDialog()"><i class="fa fa-times"></i></button>
  </div>
</div>
<div class="box-body">

  <form id="cancel-form" class="bv-form" novalidate [formGroup]="form" (ngSubmit)="onConfirmCancel()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group has-error">
          <label class="control-label" for="cancel-reason">Please indicate your reason</label>
          <textarea class="form-control" id="cancel-reason" placeholder="Your reason ..." formControlName="cancelReason" required></textarea>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-danger pull-right" [disabled]="!form.valid">Confirm</button>
      <button type="button" class="btn btn-default" (click)="closeDialog()">Close</button>
    </div>
  </form>
</div>

