<section class="content-header">
  <h1>
    Full Calendar
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active"><i class="fa fa-calendar"></i> Full Calendar</li>
  </ol>
</section>

<section class="content">
  <div class="row">

    <room-filter (onEmitRooms)="onEmitRooms($event)"></room-filter>

    <!-- /.col -->
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-body no-padding">

          <!-- THE CALENDAR -->
          <div>
            <span defaultOverlayTarget></span>
            <angular2-fullcalendar id="event-calendar" [options]="calendarOptions"></angular2-fullcalendar>
          </div>
        </div>

        <!-- Loading (remove the following to stop the loading)-->
        <div class="overlay" *ngIf="isRefreshing">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <!-- end loading -->
      </div>
    </div>
  </div>
</section>
