<!-- Filter -->
<div class="col-md-3">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Select Room</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div *ngIf="isLoading">
        Loading . . .
      </div>

      <!-- the events -->
      <div id="external-events">
        <div *ngFor="let room of rooms;">
          <button type="button" class="btn btn-block {{ room.btnColor }}">{{ room.name }}</button>
        </div>
      </div>
    </div>

    <!-- Loading (remove the following to stop the loading)-->
    <div *ngIf="isLoading" class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</div>
